.headerContainer {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContent {
  display: flex;
  justify-content: flex-end;
}

.image {
  cursor: pointer;
}
