.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.grid {
  width: 100%;
}

.grid-col-start {
  display: flex;
  justify-content: flex-start;
}

.grid-col-end {
  display: flex;
  justify-content: flex-end;
}
