.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.inner {
  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
  opacity: 0.75;
}

.content {
  text-align: center;
  z-index: 1;
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: 900;
}

.description {
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #2548d3;
}
