.container {
  width: 350px;
  height: 500px;
  margin: 45px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to right, #005e9021, #3639a232);
  box-shadow: rgba(0, 0, 0, 0.24) 3px 8px;
}

.container form {
  margin-top: 10px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 1em 0;
  width: 100%;
  position: relative;
}

.input input {
  font-size: 16px;
  padding: 10px;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.input input:focus {
  border-bottom-color: #2548d3;
}

.input label {
  font-size: 14px;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 10px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.input input:focus ~ label,
.input input:valid ~ label {
  transform: translateY(-120%);
  font-size: 12px;
  color: #2548d3;
}

.form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 8px 20px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.link {
  text-decoration: none;
  color: lime;
}
