.container {
    position: relative;
}

.footer {
    border-top: 1px solid black;
    background: #005c97;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4px 0;
}
