.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centerAlign {
    text-align: center;
}

.formContainer {
    background-color: transparent;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid white;
}

.textFieldLabel {
    color: white !important;
}

.input {
    border: 2px solid #e0e0e0;
    color: white;
}

.submitButton {
    transition: transform 0.3s ease-in-out;
}

.submitButton:hover {
    transform: scale(1.1);
}
